<html>
   <%- include ('include/head') %>
   <body>
      <%- include ('include/header') -%>
      <main>
         <%- include ('<%= view %>') -%>
      </main>
      <%- include ('include/footer') -%>
   </body>
</html>
